<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <% if (isAuthenticated) { %>
      <!-- <li class="main-header__item">
        <a class="<%= path === '/users' ? 'active' : '' %>" href="/users"
          >Active Users</a
        >
      </li> -->
      <li class="main-header__item">
        <a
          class="<%= path === '/dashboard/add-blogs' ? 'active' : '' %>"
          href="/dashboard/add-blogs"
          >Add Blog
        </a>
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/dashboard/blogs' ? 'active' : '' %>"
          href="/dashboard/blogs"
          >Admin
        </a>
      </li>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
          >Login</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
          >Signup</a
        >
      </li>
      <% } else { %>
      <li class="main-header__item">
        <a class="<%= path === '/profile' ? 'active' : '' %>" href="/profile"
          >My Profile</a
        >
      </li>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
