<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title><%=pageTitle%></title>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
      <h1 class="mb-2 mt-5"><%= blogs.title %></h1>
      <div class="text-muted mb-2">
        <%= blogs.createdAt.toLocaleDateString() %>
      </div>
      <div class="text-muted mb-2">Posted by: <%= blogs.createdBy %></div>
      <div class="image">
        <img src="/<%= blogs.imageUrl %>" alt="<%= blogs.title %>" />
      </div>
      <div class="mt-2">
        <p><%= blogs.description %></p>
      </div>
    </div>
  </body>
</html>
