<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="centered">
            <form action="/blogs/search" method="POST">
                <input type="search" class="input-search" name="searchBlog" placeholder="Search Blog">
            </form>
        </div>
        <div>
            <h1>Search Results</h1>
        </div>
        <% if (blogs.length > 0) { %>
            <div class="container">
                <% for (let blog of blogs) { %>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4 class="card-title"><%= blog.title%></h4>
                            <div class="card-subtitle text-muted mb-2">
                                <%= blog.createdAt.toLocaleString() %>
                            </div>
                            <div class="text-muted mb-2">
                                Posted by: <%= blog.createdBy %>
                               </div>
                            <div class="card-text mb-2">
                                <%= blog.description %> 
                            </div>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                    <% } %>    
            </div>
        <% } else { %>
            <h1>No Blog Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>